<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About | Astral Matter</title>
	<link rel="stylesheet" type="text/css" href="../static/astral_styles.css">
	<link rel="icon" type="image/ico" href="../static/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../static/astral_functions.js"></script>
	<style type="text/css">
		div.main_content{
			
		}
		.main_right{
			margin-top: 64px;
		}

	</style>
</head>
<body>
	<div id="header">
		<div id="nav_and_home">
			<div id="logo" >
				<a href="/" title="Home" id="home"><h1 style="margin-top: 0px; margin-bottom: 2px;">Astral Matter</h1>
				<p style="font-size:70%; margin-top: 0px; margin-bottom: 0px;">Chicago Musician and Digital Artist</p></a>
			</div>

			<div id="navigation">
				<div id="menu_bar">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>

				<ul> <li><a href="/" id="nav_link"><h4>Home</h4></a><h4 style=""></h4></li>
				<li><a href="about" id="nav_link"><h4>About</h4></a><h4 style=""></h4></li>
				<li><a href="music" id="nav_link"><h4>Music</h4></a><h4 ></h4></li>
				<li><a href="artwork" id="nav_link"><h4>Artwork</h4></a></li> 
				</ul>

				<div id="social_media">
					<a href="https://soundcloud.com/astral_matter" class="fa fa-soundcloud" target="_blank" title="Follow Me on SoundCloud">&nbsp &nbsp </a>
					<a href="https://www.instagram.com/astral.matter" class="fa fa-instagram" target="_blank" title="Follow Me on Instagram">&nbsp &nbsp</a>
					<a href="https://www.youtube.com/channel/UCgmH16EUU5i98oaiO3pVKcQ" class="fa fa-youtube" target="_blank" title="Subscribe to Me on YouTube"></a>
				</div>

				<div id="nav_mobile" class="navigation_mobile">
					<table id="nav_drop_down_tbl">
						<tr>
							<th style="border-top: 1px solid #111177"><a href="/" id="nav_link_mobile">Home</a></th>
						</tr>
						<tr>
							<th><a href="about.html" id="nav_link_mobile">About</a></th>
						</tr>

						<tr>
							<th><a href="music.html" id="nav_link_mobile">Music</a></th>
						</tr>

						<tr>
							<th><a href="artwork.html" id="nav_link_mobile">Artwork</a></th>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="main_content">
		<h2>Biography</h2>
		<p>I grew up listening to a variety of music such as; Latin music, 80's, 90's, House etc. However, my musical interests didn't stop there, I also became attached to classical and jazz music, from Frank Sinatra to Frederic Chopin. Listening to Frederic Chopin inspired me to learn the piano. Learning the piano is a great step to understand music elements like chord progressions and melodies. I am currently learning to play guitar as well.</p>

		<div class="main_left">
			<p>I started producing electronic music in early highschool. Most of my "tracks" at first were essentially mini projects. For a while my sessions consisted of experimenting with different parameters of sound such as panning, amplitude, frequency, timbre, etc. While most of the time the mini projects never worked out, I always learned new tricks that ultimately helped me in the long run. Overall, my understanding of filters, EQ, and post production grew immensely over the years. Mixing and mastering was something I had trouble with for a long time and is still something I am working on. I try to apply different methods to see what sounds the best across various devices.</p>

			<p>As far as what I produce, it varies from epic orchestral scores to electronic music, I even did a rap beat for a friend once. When producing electronic music I always start off with a melody that resonates with me. After a while I begin improvising on the piano or another synth. From there, my music just unravels itself. At times it becomes very acoustic and other times I will layer synths and go electronic. When I finally have some sort of theme or idea, I take properties from various genres, a bit of house, a bit of trance or a maybe a bit of vintage electronica. Below is my first upload to an old account, as I mentioned earlier these early tracks were merely a learning experience as opposed to something "good".</p>

			<p>My current tracks can be found in my <a href="music.html">Music</a> or in the <a href="/">Featured</a> section of the home page</p>
		</div>

		<div class="main_right"><iframe width="300px" height="300px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/180793240&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
	</div>

	<p id="disclaimer"><i>Disclaimer: This site is merely a draft and may not work on all browsers/devices, please report any bugs.</i></p>

	<div class="footer" id="footer">
		<p style="margin: 0px"><b>Contact</b></p>
		<hr style="width: 250px; margin-top: 0px; margin-bottom: 0px;">
		<p style="margin: 0px;"> <a class="no_change_url"href="mailto:officialastralmatter@gmail.com?">officialastralmatter@gmail.com</a></p>
	</div>
	<script type="text/javascript">
		document.getElementById("menu_bar").onclick = function() {activateMenuIcon()};

	</script>
</body>
</html>