<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Music | Astral Matter</title>
	<link rel="stylesheet" type="text/css" href="../static/astral_styles.css">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../static/astral_functions.js"></script>
	<style type="text/css">
		#music_player tr {
			border: solid 2px #000000;
		}
	</style>
</head>
<body>
	<div id="header">
		<div id="nav_and_home">
			<div id="logo" >
				<a href="index.html" title="Home" id="home"><h1 style="margin-top: 0px; margin-bottom: 2px;">Astral Matter</h1>
				<p style="font-size:70%; margin-top: 0px; margin-bottom: 0px;">Chicago Musician and Digital Artist</p></a>
			</div>

			<div id="navigation">
				<div id="menu_bar">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>

				<ul> <li><a href="index.html" id="nav_link"><h4>Home</h4></a><h4 style=""></h4></li>
				<li><a href="about.html" id="nav_link"><h4>About</h4></a><h4 style=""></h4></li>
				<li><a href="music.html" id="nav_link"><h4>Music</h4></a><h4 ></h4></li>
				<li><a href="artwork.html" id="nav_link"><h4>Artwork</h4></a></li> 
				</ul>

				<div id="social_media">
					<a href="https://soundcloud.com/astral_matter" class="fa fa-soundcloud" target="_blank" title="Follow Me on SoundCloud">&nbsp &nbsp </a>
					<a href="https://www.instagram.com/astral.matter" class="fa fa-instagram" target="_blank" title="Follow Me on Instagram">&nbsp &nbsp</a>
					<a href="https://www.youtube.com/channel/UCgmH16EUU5i98oaiO3pVKcQ" class="fa fa-youtube" target="_blank" title="Subscribe to Me on YouTube"></a>
				</div>

				<div id="nav_mobile" class="navigation_mobile">
					<table id="nav_drop_down_tbl">
						<tr>
							<th style="border-top: 1px solid #111177"><a href="home.html" id="nav_link_mobile">Home</a></th>
						</tr>
						<tr>
							<th><a href="about.html" id="nav_link_mobile">About</a></th>
						</tr>

						<tr>
							<th><a href="music.html" id="nav_link_mobile">Music</a></th>
						</tr>

						<tr>
							<th><a href="artwork.html" id="nav_link_mobile">Artwork</a></th>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	<div class="main_content">
		<h2>Latest Tracks</h2>

		<table id="music_player">
			<tr>
				<th>Song</th>
				<th>Length</th>
				<th>Genre</th>
			</tr>
		</table>
		
	</div>
	<p id="disclaimer"><i>Disclaimer: This site is merely a draft and may not work on all browsers/devices, please report any bugs.</i></p>

	<div class="footer" id="footer">
		<p style="margin: 0px"><b>Contact</b></p>
		<hr style="width: 250px; margin-top: 0px; margin-bottom: px;">
		<p style="margin: 0px;"> <a class="no_change_url" href="mailto:officialastralmatter@gmail.com?">officialastralmatter@gmail.com</a></p>
	</div>
	<script type="text/javascript">
		document.getElementById("menu_bar").onclick = function() {activateMenuIcon()};

	</script>
</body>
</html>